name: API Test Framework

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Execute TestNG suite
        run: mvn clean test -DsuiteXmlFile=suite

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: logs/
